<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/FightScreen.css') }}">

    <title></title>
</head>
<body>
  <p class="Name1">{{nameOne}}</p>
  <p class="Name2">{{nameTwo}}</p>
  <p class="Power1">{{powerOne}}</p>
  <p class="Power2">{{powerTwo}}</p>
  <p class="Gender1">{{genderOne}}</p>
  <p class="Gender2">{{genderTwo}}</p>
  <p class="Tagline1">{{taglineOne}}</p>
  <p class="Tagline2">{{taglineTwo}}</p>
  <p class="age1">{{ageOne}}</p>
  <p class="age2">{{ageTwo}}</p>
  <p class="location">{{Location}}</p>
  <p class="circumstance">{{Circumstance}}</p>
</body>
</html>
